build
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
src/.deps
src/ipv4calc
src/main.o
src/Makefile.in
stamp-h1
